In [4]:

from collections import defaultdict

text = "data engineering is cool and data is powerful"

def word_frequency(text: str) -> dict:
    
    result = {}

    for w in text.split():

        if w in result:
    
            result[w] +=1
        else:
            result[w] = 1

    return result

In [5]:
word_frequency(text)

{'data': 2, 'engineering': 1, 'is': 2, 'cool': 1, 'and': 1, 'powerful': 1}

In [6]:
emails = [
    "alice@gmail.com",
    "bob@yahoo.com",
    "carol@gmail.com",
    "dan@outlook.com",
    "erin@yahoo.com",
    "frank@gmail.com"
]

def count_domains(emails: list[str]) -> dict:

    result = {}

    for email in emails :

        dom = email.split("@")
        dom = dom[1]
        if dom in result:
            result[dom] +=1
        else:
            result[dom] = 1

    return result

In [7]:
count_domains(emails)

{'gmail.com': 3, 'yahoo.com': 2, 'outlook.com': 1}

In [8]:
text = "Data engineering delivers durable and dynamic data pipelines daily."

def count_first_letters(text: str) -> dict:

    result = {}

    for word in text.split():
        clean_word = word.lower().strip(".,!?")
        
        first_letter = clean_word[0]

        if first_letter in result:
            result[first_letter] += 1
        else:
            result[first_letter] = 1

    return result

In [9]:
count_first_letters(text)

{'d': 6, 'e': 1, 'a': 1, 'p': 1}

In [10]:

def count_word_lengths(text: str) -> dict:
    
    result = {}

    for w in text.split():
        count = len(w)

        result[w] = count
    
    return result

In [11]:
count_word_lengths(text)

{'Data': 4,
 'engineering': 11,
 'delivers': 8,
 'durable': 7,
 'and': 3,
 'dynamic': 7,
 'data': 4,
 'pipelines': 9,
 'daily.': 6}

In [12]:
files = [
    "data.csv", "report.pdf", "image.png", "archive.zip",
    "data_backup.csv", "notes.txt", "slides.pdf", "image2.png"
]

def count_extensions(files: list[str]) -> dict:
    
    result = {}

    for file in files:
        type = file[-3:]
        if type in result:
            result[type] +=1
        else:
            result[type] = 1
    
    return result

In [13]:
count_extensions(files)

{'csv': 2, 'pdf': 2, 'png': 2, 'zip': 1, 'txt': 1}

In [14]:
logs = [
    "2024-05-21 12:45:03 INFO Starting ETL job",
    "2024-05-21 12:45:04 DEBUG Extracting data",
    "2024-05-21 12:45:10 ERROR Failed to connect to database",
    "2024-05-21 12:45:12 INFO Retrying connection",
    "2024-05-21 12:45:15 ERROR Timeout occurred",
    "2024-05-21 12:45:18 DEBUG Retrying...",
    "2024-05-21 12:45:20 INFO ETL job completed"
]

def count_log_levels(logs: list[str]) -> dict:

    result = {}

    for s in logs:
        s = s.split()
        log = s[2]
        if log in result:
            result[log] +=1
        else:
            result[log] = 1
    
    return result

In [15]:
count_log_levels(logs)

{'INFO': 3, 'DEBUG': 2, 'ERROR': 2}

In [16]:
from datetime import date , datetime 

dates = [
    "2024-05-01", "2024-05-21", "2024-06-03",
    "2024-06-10", "2024-07-04", "2024-05-18"
]

def count_months(dates: list[str]) -> dict:
    
    result = {}

    for date in dates:

        dates = date.split('-')
        month = dates[1]
        if month in result:
            result[month] += [date]
        else:
            result[month] = [date]
    return result

In [17]:
count_months(dates)

{'05': ['2024-05-01', '2024-05-21', '2024-05-18'],
 '06': ['2024-06-03', '2024-06-10'],
 '07': ['2024-07-04']}

In [18]:
logs = [
    "2025-06-01 08:45:00 user:alice action:login",
    "2025-06-01 09:12:14 user:bob action:view",
    "2025-06-01 09:18:09 user:alice action:view",
    "2025-06-01 10:05:30 user:carol action:logout",
    "2025-06-01 10:15:45 user:bob action:logout",
    "2025-06-01 10:18:02 user:alice action:logout"
]

def group_actions_by_user(logs: list[str]) -> dict:

    result = {}

    for log in logs:

        split = log.split()
        user = split[2]
        user = user.lstrip('user:')
        action = split[3]
        action = action.lstrip('action:')
        if user not in result:
            result[user] = []
            result[user].append(action)
        else: 
            result[user].append(action)
        
    return result

In [19]:
group_actions_by_user(logs)

{'alice': ['login', 'view', 'logout'],
 'bob': ['view', 'logout'],
 'carol': ['logout']}

In [20]:
def group_by_date_and_user(logs: list[str]) -> dict:

    result = {}

    for log in logs:
        split = log.split()
        ex_date = split[0]
        user = split[2]
        user = user.lstrip('user:')
        action = split[3]
        action = action.lstrip('action:')
        if ex_date not in result:
            result[ex_date] = {}
        if user not in result[ex_date]:

            result[ex_date][user] = []
        
        result[ex_date][user].append(action)
            
        
    return result

In [21]:
group_by_date_and_user(logs)

{'2025-06-01': {'alice': ['login', 'view', 'logout'],
  'bob': ['view', 'logout'],
  'carol': ['logout']}}

In [22]:
def count_logins_by_user(logs: list[str]) -> dict:

    result = {}

    for log in logs:
        split = log.split()
        user = split[2]
        user = user.lstrip('user:')
        action = split[3]
        action = action.lstrip('action:')
        if action == 'login':
            if user in result:
                result[user] += 1
            else:
                result[user] = 1
    return result

In [23]:
count_logins_by_user(logs)

{'alice': 1}

In [24]:

api_response = {
    "users": [
        {
            "id": 1,
            "name": "Alice",
            "activities": [
                {"type": "login", "timestamp": "2025-06-01T08:00:00"},
                {"type": "view", "timestamp": "2025-06-01T08:05:00"},
                {"type": "logout", "timestamp": "2025-06-01T08:10:00"}
            ]
        },
        {
            "id": 2,
            "name": "Bob",
            "activities": [
                {"type": "login", "timestamp": "2025-06-01T09:00:00"},
                {"type": "view", "timestamp": "2025-06-01T09:05:00"}
            ]
        }
    ]
}

def transform_user_activity(api_response: dict) -> list[dict]:

    result = []

    for user in api_response.get("users"):

        user_id = user["id"]
        user_name = user["name"]

        for activity in user["activities"]:

            activity_type = activity["type"]
            activity_time = activity["timestamp"]

            result.append({"user_id": user_id,
                           "user_name": user_name,
                           "activity_type": activity_type,
                           "activity_time": activity_time})
            
    return result

In [25]:
transform_user_activity(api_response)

[{'user_id': 1,
  'user_name': 'Alice',
  'activity_type': 'login',
  'activity_time': '2025-06-01T08:00:00'},
 {'user_id': 1,
  'user_name': 'Alice',
  'activity_type': 'view',
  'activity_time': '2025-06-01T08:05:00'},
 {'user_id': 1,
  'user_name': 'Alice',
  'activity_type': 'logout',
  'activity_time': '2025-06-01T08:10:00'},
 {'user_id': 2,
  'user_name': 'Bob',
  'activity_type': 'login',
  'activity_time': '2025-06-01T09:00:00'},
 {'user_id': 2,
  'user_name': 'Bob',
  'activity_type': 'view',
  'activity_time': '2025-06-01T09:05:00'}]

In [26]:
api_response = {
    "customers": [
        {
            "id": 1,
            "name": "Alice",
            "orders": [
                {
                    "order_id": 101,
                    "items": [
                        {"product": "Laptop", "price": 1200, "quantity": 1, "discount": 0.1},
                        {"product": "Mouse", "price": 25, "quantity": 2, "discount": 0}
                    ]
                },
                {
                    "order_id": 102,
                    "items": [
                        {"product": "Keyboard", "price": 75, "quantity": 1, "discount": 0.05}
                    ]
                }
            ]
        },
        {
            "id": 2,
            "name": "Bob",
            "orders": [
                {
                    "order_id": 103,
                    "items": [
                        {"product": "Monitor", "price": 200, "quantity": 2, "discount": 0.15}
                    ]
                }
            ]
        }
    ]
}

def transform_and_aggregate_orders(api_response: dict) -> tuple[list[dict], dict]:
    
    result = []
    total_spent = {}

    for customer in api_response.get("customers"):
        id = customer["id"]
        name = customer["name"]

        for order in customer["orders"]:
            order_id = order["order_id"]
            items = order["items"]
            for item in items:
                product = item['product']
                price = item['price']
                quantity = item['quantity']
                discount = item['discount']
                price_discounted = price * discount
                final_price = (price - price_discounted) * quantity
                
                if name in total_spent :
                    total_spent[name] += final_price
                else:
                    total_spent[name] = final_price

                result.append({"customer_id": id,
                               'customer_name': name,
                               'order_id': order_id,
                               'product': product,
                               'quantity': quantity,
                               'price': price,
                               'discount': discount,
                               'final_price': final_price})
        
    return  result , total_spent

In [27]:
transform_and_aggregate_orders(api_response)

([{'customer_id': 1,
   'customer_name': 'Alice',
   'order_id': 101,
   'product': 'Laptop',
   'quantity': 1,
   'price': 1200,
   'discount': 0.1,
   'final_price': 1080.0},
  {'customer_id': 1,
   'customer_name': 'Alice',
   'order_id': 101,
   'product': 'Mouse',
   'quantity': 2,
   'price': 25,
   'discount': 0,
   'final_price': 50},
  {'customer_id': 1,
   'customer_name': 'Alice',
   'order_id': 102,
   'product': 'Keyboard',
   'quantity': 1,
   'price': 75,
   'discount': 0.05,
   'final_price': 71.25},
  {'customer_id': 2,
   'customer_name': 'Bob',
   'order_id': 103,
   'product': 'Monitor',
   'quantity': 2,
   'price': 200,
   'discount': 0.15,
   'final_price': 340.0}],
 {'Alice': 1201.25, 'Bob': 340.0})

In [28]:
from bs4 import BeautifulSoup

html_content = """
<html>
  <head><title>Fake Store</title></head>
  <body>
    <div class="product" data-id="101">
      <h2 class="name">Wireless Mouse</h2>
      <span class="price">$25.99</span>
    </div>
    <div class="product" data-id="102">
      <h2 class="name">Mechanical Keyboard</h2>
      <span class="price">$79.49</span>
    </div>
    <div class="product" data-id="103">
      <h2 class="name">USB-C Hub</h2>
      <span class="price">$34.10</span>
    </div>
  </body>
</html>
"""

def extract_products(html: str) -> list[dict]:
    result = []
    soup = BeautifulSoup(html, 'html.parser')

    for div in soup.find_all('div', class_="product"):
        data_id = div.get("data-id")
        h2 = div.find('h2', class_="name")
        span = div.find('span', class_='price')

        product = h2.string.strip()
        price = float(span.string.lstrip('$'))

        result.append({
            'id': data_id,
            'product': product,
            'price': price
        })

    return result

In [29]:
extract_products(html_content)

[{'id': '101', 'product': 'Wireless Mouse', 'price': 25.99},
 {'id': '102', 'product': 'Mechanical Keyboard', 'price': 79.49},
 {'id': '103', 'product': 'USB-C Hub', 'price': 34.1}]

In [30]:
html_content = """
<html>
  <head><title>Fake Store</title></head>
  <body>
    <div class="product" data-id="101">
      <h2 class="name">Wireless Mouse</h2>
      <span class="price">$25.99</span>
    </div>
    <div class="product" data-id="102">
      <h2 class="name">Mechanical Keyboard</h2>
      <span class="price">$79.49</span>
    </div>
    <div class="product" data-id="103">
      <h2 class="name">usb-c hub</h2>
      <span class="price">$34.10</span>
    </div>
    <div class="product" data-id="104">
      <h2 class="name">Budget Mouse</h2>
      <span class="price">$12.99</span>
    </div>
  </body>
</html>
"""
def extract_products(html: str) -> list[dict]:
    """
    Parses raw HTML and returns raw product info with 'id', 'name', 'price' as strings.
    Example: {"id": "101", "name": "Wireless Mouse", "price": "$25.99"}
    """

    result = []

    soup = BeautifulSoup(html, 'html')

    for div in soup.find_all('div', class_="product"):

        id = div.get('data-id')
        h2 = div.find('h2', class_="name")
        product = h2.string.strip()
        span = div.find('span', class_="price")
        price = span.string.lstrip('$')
        
        result.append({'id': id,
                      'product': product,
                      'price': price})
    
    return result

def format_products(raw_products: list[dict]) -> list[dict]:
    """
    Takes raw product records and returns cleaned ones:
    - 'id' stays as string
    - 'name' is title-cased
    - 'price' is a float
    """

In [31]:
raw_products = extract_products(html_content)
raw_products

[{'id': '101', 'product': 'Wireless Mouse', 'price': '25.99'},
 {'id': '102', 'product': 'Mechanical Keyboard', 'price': '79.49'},
 {'id': '103', 'product': 'usb-c hub', 'price': '34.10'},
 {'id': '104', 'product': 'Budget Mouse', 'price': '12.99'}]

In [32]:
def format_products(raw_products: list[dict]) -> list[dict]:
    """
    Takes raw product records and returns cleaned ones:
    - 'id' stays as string
    - 'name' is title-cased
    - 'price' is a float
    """
    result = []

    for product in raw_products:

        id = product['id']
        cap = product['product']
        cap = cap.capitalize()
        price = product['price']
        price_float = float(price)

        result.append({'id': id,
                      'product': cap,
                      'price': price_float})
    
    return result

In [33]:
products = format_products(raw_products)
products

[{'id': '101', 'product': 'Wireless mouse', 'price': 25.99},
 {'id': '102', 'product': 'Mechanical keyboard', 'price': 79.49},
 {'id': '103', 'product': 'Usb-c hub', 'price': 34.1},
 {'id': '104', 'product': 'Budget mouse', 'price': 12.99}]

In [34]:
def group_by_price_range(products: list[dict]) -> dict:
    """
    Groups products into 'budget', 'midrange', or 'premium' buckets based on price:
    - budget: < $30
    - midrange: $30–$60
    - premium: > $60
    Returns a dictionary with three keys, each mapping to a list of product dicts.
    """
    result = {'budget': [],
              'midrange': [],
              'premium': []}

    for product in products:

        price = product['price']
        
        if price < 30 :
            result['budget'].append(product)
        
        if price >= 30 and price < 60 :
            result['midrange'].append(product)

        if price >= 60:
            result['premium'].append(product)
    
    return result

In [36]:
group_by_price_range(products)

{'budget': [{'id': '101', 'product': 'Wireless mouse', 'price': 25.99},
  {'id': '104', 'product': 'Budget mouse', 'price': 12.99}],
 'midrange': [{'id': '103', 'product': 'Usb-c hub', 'price': 34.1}],
 'premium': [{'id': '102', 'product': 'Mechanical keyboard', 'price': 79.49}]}

In [252]:
raw_data = {
    "customers": [
        {
            "id": "u001",
            "profile": {"name": "alice", "country": "us"},
            "orders": [
                {"order_id": "o1001", "amount": "30.5", "currency": "USD"},
                {"order_id": "o1002", "amount": "42", "currency": "usd"}
            ]
        },
        {
            "id": "u002",
            "profile": {"name": "BOB", "country": "UK"},
            "orders": [
                {"order_id": "o1003", "amount": 75.2, "currency": "GBP"}
            ]
        },
        {
            "id": "u003",
            "profile": {"name": "", "country": "de"},
            "orders": [
                {"order_id": "o1004", "amount": "invalid", "currency": "EUR"}
            ]
        },
        {
            "id": "u004",
            "profile": {"name": "dave"},
            "orders": [
                {"order_id": "o1005", "amount": 12.75, "currency": "CAD"}
            ]
        },
        {
            "id": "u005",
            "profile": {"name": "hana", "country": "jp"},
            "orders": []
        },
        {
            "id": "u006",
            "profile": {"name": "erin", "country": "us"},
            "orders": [
                {"order_id": "o1006", "amount": None, "currency": "USD"}
            ]
        }
    ]
}

def extract_orders(raw_data: dict) -> list[dict] :

    result = []

    for cus in raw_data.get('customers'):

        id = cus['id']
        profile = cus['profile']
        name = profile['name'].capitalize()
        if name == None or name == "":

            name = "Unknown_name"
        country = profile.get('country')

        if country :
            country = country.upper()
        else:
            country = "N/A"

        orders = cus.get('orders',[])
        for order in orders:
            order_id = order.get('order_id')
            if not order_id:
                continue

            amount = order.get('amount', None)
            currency = order.get('currency', None).upper()
            
            result.append({"customer_id": id,
                            "name": name,
                            "country": country,
                            "order_id": order_id,
                            "amount": amount,
                            "currency": currency})
    
    return result

In [253]:
data = extract_orders(raw_data)

def normalize_orders(orders: list[dict]) -> list[dict]:

    result = []

    for order in orders:

        is_valid = True  

        amount = order.get('amount')
        name = order.get('name')
        order_id = order.get('order_id')
        country = order.get('country')
        currency = order.get('currency')
        user_id = order.get('customer_id')

        try:
            amount = float(amount)
        except (TypeError, ValueError):
            print(f"Amount not valid for {name}, {amount}")
            is_valid = False

        if not name or name == 'Unknown_name':
            is_valid = False

        if not country or country == 'N/A':
            is_valid = False

        result.append({
            "user_id": user_id,
            "user_name": name,
            "country": country,
            "order_id": order_id,
            "amount": amount,
            "currency": currency,
            "valid": is_valid
        })

    return result

In [254]:
import pandas as pd

data = normalize_orders(data)

def filter_valid_orders(orders: list[dict]) -> pd.DataFrame:

    result = []

    for order in orders:

        valid_orders = order['valid']

        if valid_orders == True:

            result.append({**order})

    result = pd.DataFrame(result)
    return result

Amount not valid for Unknown_name, invalid
Amount not valid for Erin, None

In [255]:
display(filter_valid_orders(data))

  user_id user_name country order_id  amount currency  valid
0    u001     Alice      US    o1001    30.5      USD   True
1    u001     Alice      US    o1002    42.0      USD   True
2    u002       Bob      UK    o1003    75.2      GBP   True

In [ ]:
from bs4 import BeautifulSoup
import requests

result = []
page = 1

while True :
    url = f"http://books.toscrape.com/catalogue/page-{page}.html"
    print(f"Scraping page: {page}")
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
    except Exception as e :
        print(e)

    li = soup.find_all('li', class_="col-xs-6 col-sm-4 col-md-3 col-lg-3")

    for l in li:
        rating = 0
        h3 = l.find('h3')
        a = h3.find('a')
        title = a['title']
        div = l.find('div', class_='product_price')
        prod = div.find('p')
        price = prod.string.lstrip('Â£')
        four_star = l.find('p', class_='star-rating Four')
        three_star = l.find('p', class_='star-rating Three')
        two_star = l.find('p', class_='star-rating Two')
        one_star = l.find('p', class_='star-rating One')
        five_star = l.find('p', class_='star-rating Five')

        if four_star:
            rating = 4
        elif three_star:
            rating = 3
        elif two_star:
            rating = 2
        elif one_star:
            rating = 1
        elif five_star :
            rating = 5
        
        result.append({'title': title,
                        'price': price,
                        'star_rating': rating
                        })
        
    if page == 50:
        print(f'Reached last page: {page}. Break!')
        break
    page += 1

In [ ]:
import pandas as pd

if page >= 50:

    df = pd.DataFrame(result)
display(df)

def categories(df, rating):

    result = df[df['star_rating'] == rating]

    return result

one_star = len(categories(df, 1))
two_star = len(categories(df, 2))
three_star = len(categories(df, 3))
four_star = len(categories(df, 4))
five_star = len(categories(df, 5))

tot = (one_star + two_star + three_star + four_star + five_star)

print(f'There are {one_star} books with one star rating. \nThere are {two_star} books with two stars rating. \nThere are {three_star} books with three stars rating. \nThere are {four_star} books with four stars rating. \nThere are {five_star} with five stars rating.')
print(' ')
print(f'In total there are {tot} books.')

                                                 title  price  star_rating
0                                 A Light in the Attic  51.77            3
1                                   Tipping the Velvet  53.74            1
2                                           Soumission  50.10            1
3                                        Sharp Objects  47.82            4
4                Sapiens: A Brief History of Humankind  54.23            5
..                                                 ...    ...          ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53            1
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06            4
997  A Spy's Devotion (The Regency Spies of London #1)  16.97            5
998                1st to Die (Women's Murder Club #1)  53.98            1
999                 1,000 Places to See Before You Die  26.08            5

[1000 rows x 3 columns]

There are 226 books with one star rating.
There are 196 books with two stars rating.
There are 203 books with three stars rating.
There are 179 books with four stars rating.
There are 196 with five stars rating.

In total there are 1000 books.

In [ ]:
from datetime import datetime

def fetch_job_data(url):

    request = requests.get(url)
    soup = BeautifulSoup(request.text, 'html.parser')
    result = []

    for div in soup.find_all('div', class_='column is-half'):

        h2 = div.find('h2', class_='title')
        title = h2.string.strip()
        p = div.find('p', class_='location')
        location = p.string.strip()
        town = location[:-4]
        code = location[-2:]
        h3 = div.find('h3', class_='company')
        company = h3.string.strip()
        grey = div.find('p', class_='is-small')
        time = grey.find('time')
        date_str = time.string.strip()
        date_str = datetime.strptime(date_str, "%Y-%m-%d")
        a = div.find('footer', class_='card-footer')
        href = a.find_all('a')[1]
        link = href.get('href')
        if link :
            url = requests.get(link)
            ad = BeautifulSoup(url.text, 'html.parser')
            div = ad.find('div', class_='content')
            p = div.find('p')
            descr = p.string.strip()

            result.append({'title': title,
                        'company': company,
                        'location': town,
                        'region': code,
                        'date_published': date_str,
                        'job_descpition': descr})
        
    return result

In [238]:

url = 'https://realpython.github.io/fake-jobs/'

r = fetch_job_data(url)
df = pd.DataFrame(r)
df.head()

,title,company,location,region,date_published,job_descpition
0,Senior Python Developer,"Payne, Roberts and Davis",Stewartbury,AA,2021-04-08,Professional asset web application environment...
1,Energy engineer,Vasquez-Davidson,Christopherville,AA,2021-04-08,Party prevent live. Quickly candidate change a...
2,Legal executive,"Jackson, Chambers and Levy",Port Ericaburgh,AA,2021-04-08,Administration even relate head color. Staff b...
3,Fitness centre manager,Savage-Bradley,East Seanview,AP,2021-04-08,Tv program actually race tonight themselves tr...
4,Product manager,Ramirez Inc,North Jamieview,AP,2021-04-08,Traditional page a although for study anyone. ...